.gradle
/build/
/logs/
/temp/
!gradle/wrapper/gradle-wrapper.jar
logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr
*.pid
/out/

database-*/.idea
database-*/.idea/
database-*/*.iws
database-*/*.iml
database-*/*.ipr
database-*/*.pid
database-*/out/
database-*/build/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
